<template id="json-textarea">
  <div>
  	<div class="flex items-center justify-between mb1">
  		<h3 class="regular mt0">Bosh Instances JSON</h3>
  		<el-button size="small" icon="document" @click="useSample">Use Sample JSON</el-button>
  	</div>
  	<div id="editor" class="border border-silver mb2"></div>
  	<el-button :disabled="needsJson()" type="primary" size="large" class="col-12 bold" @click="visualize">
      Visualize!
    </el-button>
  </div>
</template>
