<template id="json-textarea">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa a, beatae facere illum ut ab aliquam sint debitis impedit fugit non sequi dolore officiis dignissimos nobis expedita quisquam molestiae, eius.</p>
</template>
