<template id="visualization">
	<div id="vis-wrap" class="relative drag-cursor bg-white" style="height: 400px;">
    <svg class="absolute left-0 top-0 right-0 bottom-0 col-12 gradient-bg" id="vm-graph" width="960" height="400"></svg>
  </div>
</template>