<template id="visualization">
	<div id="vis-wrap" class="drag-cursor bg-white height-100 flex flex-auto absolute top-0 left-0 right-0 bottom-0">
    <svg class="col-12 gradient-bg" id="vm-graph" width="960" height="750"></svg>
  </div>
</template>