<template id="vm-detail">
  <div class="bg-white flex flex-wrap">
    <div class="bg-blue p2 col-12">
      <div class="flex items-center justify-between">
        <h3 class="m0 regular white">{{ vm.name }}/{{ vm.instance }}</h3>
        <el-button class="py0 white" type="text" @click="closeDetail">
          <i class="material-icons">close</i>
        </el-button>
      </div>
    </div>
    <el-tabs class="col-12" v-model="activeTab">
      <el-tab-pane label="Metrics" name="metrics">
        <div class="p2">
          <h3 class="mt0 mb2">Resource Utilization</h3>
          <div class="flex items-center justify-between mb1" v-for="metric in sortedMetrics">
            <div class="col-3">
              <h4 class="m0 regular">{{ metric.label }}</h4>
            </div>
            <div class="col-9 flex-auto pl2">
              <el-progress :percentage="metric.value"></el-progress>
            </div>
          </div>
        </div>
      </el-tab-pane>
      <el-tab-pane label="Processes" name="processes">
        <div class="p2">
          <el-table
            height="250"
            :data="vm.processes"
            style="width: 100%">
              <el-table-column
                prop="process"
                label="Process">
                <template scope="scope">
                  <span v-if="scope.row.process.length > 0">
                    {{ scope.row.process }}
                  </span>
                  <span v-else>
                    N/A
                  </span>
                </template>
              </el-table-column>
              <el-table-column
                prop="processState"
                label="State">
                <template scope="scope">
                  <span class="type-brand-6" v-if="scope.row.processState == 'running'">
                    <i class="material-icons h6 mr1">brightness_1</i>
                     running
                   </span>
                   <span class="red" v-if="scope.row.processState == 'failing'">
                     <i class="material-icons h6 mr1">brightness_1</i>
                     failing
                   </span>
                </template>
              </el-table-column>
              <el-table-column
                prop="memory"
                label="Memory Usage">
                <template scope="scope">
                  <el-progress :percentage="scope.row.memory"></el-progress>
                </template>
              </el-table-column>
              <el-table-column
                prop="uptime"
                label="Uptime">
              </el-table-column>
            </el-table>
        </div>
      </el-tab-pane>
      <el-tab-pane label="Info" name="info">
        <div class="p2">
          <ul class="list-reset mt0 mb1">
            <li>
              <strong>AZ:</strong>
              <span>{{ vm.az }}</span>
            </li>
            <li>
              <strong>IPs:</strong>
              <span>{{ vm.ips }}</span>
            </li>
            <li>
              <strong>VM Type:</strong>
              <span>{{ vm.type }}</span>
            </li>
            <li>
              <strong>Instance ID:</strong>
              <span>{{ vm.instance }}</span>
            </li>
            <li>
              <strong>VM CID:</strong>
              <span>{{ vm.cid }}</span>
            </li>
          </ul>
        </div>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>