<header class="top-header flex justify-between fixed left-0 right-0 top-0 col-12">
  <a class="text-decoration-none color-inherit brand flex items-center" href="/">
    <%= image_tag 'logo.png' %>
    <h1 class="white regular ml2 my0 h3">Wizard of Bosh</h1>
  </a>
</header>
