<header class="top-header flex justify-between">
  <a class="text-decoration-none color-inherit brand flex items-center" href="/">
    <%= image_tag 'logo.png' %>
    <h1 class="white regular ml2 my0 h3">Bosh Visualizer</h1>
  </a>
</header>
