---
title: Bosh Viz
---
<div class="sm-flex">
  <div class="col-12 sm-col-4">
    <json-textarea></json-textarea>
  </div>
  <div class="col-12 sm-col-8 sm-pl3">
    <h3 class="regular mt0">Visualization</h3>
    <!-- v-if="visualizationLoaded" -->
    <div style="height: 450px;" class="col-12 border border-silver bg-neutral-10 flex flex-column items-center center justify-center py4" v-if="!visualizationLoaded">
      <h1 class="m0 type-neutral-6 col-10 sm-col-8 mx-auto">Paste JSON to get started</h1>
    </div>
    <div class="border border-silver" v-if="visualizationLoaded">
      <visualization :deployment="json"></visualization>
      <transition name="custom-transition"
          enter-active-class="animated fadeInUp"
          leave-active-class="animated fadeOutDown"
          mode="in-out">
        <div class="col-12 border-top border-silver bg-neutral-10 flex flex-column items-center center justify-center py4" v-if="visualizationLoaded && !detailShowing">
          <i class="material-icons type-neutral-6 h1">dashboard</i>
          <h1 class="m0 type-neutral-6 col-10 sm-col-5 mx-auto">Click a node to see detailed information</h1>
        </div>
        <div class="col-12" v-if="detailShowing">
          <vm-detail :vm="vm"></vm-detail>
        </div>
      </transition>
    </div>
  </div>
</div>
