---
title: Bosh Viz
---
<div class="p2 flex flex-column col-12" style="padding-top: 80px;">
  <el-collapse v-model="activeNames">
    <el-collapse-item title="JSON Editor" name="1" class="box-shadow-key-1">
      <json-textarea></json-textarea>
    </el-collapse-item>
  </el-collapse>
</div>
<div class="viz-col col-12 mt2 p2 flex flex-auto flex-column">
  <div class="flex-auto flex-column height-100 flex">
    <div class="flex items-center mb2">
      <h3 class="regular m0">Visualization</h3>
      <el-button class="ml1 bold" @click="activeNames = ['1']" type="primary" size="small" v-if="activeNames.length == 0">Edit JSON</el-button>
    </div>
    <div class="col-12 border border-silver bg-white flex flex-column items-center center justify-center py4 viz-wrapper flex-auto height-100" v-if="!visualizationLoaded">
      <h1 class="m0 type-neutral-6 col-10 sm-col-8 mx-auto">Enter JSON to get started</h1>
    </div>
    <div class="border border-silver relative viz-wrapper col-12 flex flex-auto height-100" v-if="visualizationLoaded">
      <visualization></visualization>
      <transition name="fader" enter-active-class="animated fadeInUp" leave-active-class="animated fadeOutDown">
        <div class="detail-pane box-shadow-key-2" v-if="detailShowing">
          <vm-detail :vm="vm"></vm-detail>
        </div>
      </transition>
    </div>     
  </div>
</div>

