---
title: Bosh Viz
---
<div class="sm-flex">
  <div class="col-12 sm-col-4">
    <json-textarea></json-textarea>
  </div>
  <div class="col-12 sm-col-8 sm-pl3">
    <h3 class="regular mt0">Visualization</h3>
    <!-- v-if="visualizationLoaded" -->
    <div style="height: 450px;" class="col-12 border border-silver bg-neutral-10 flex flex-column items-center center justify-center py4">
      <h1 class="m0 type-neutral-6 col-10 sm-col-8 mx-auto">Paste JSON to get started</h1>
    </div>

    {{ json }}
  </div>
</div>
